@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); /*imports the font size i want, you can search for those in google fonts */

			*{
				margin: 0;
				padding: 0;
				font-family: 'Roboto', sans-serif;
				scroll-behavior: smooth; /* adds the beautiful scrolling effect when you make a button that scrolls to a section of the page when you click it*/
			}
			main {
				position:relative;
				top: 85px; /*starts later in the website so that the fixed header won't cover part of the section*/
			}
			.section1{
				min-height: 100vh;
				width: 100%;
				background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/banner.png);
				background-position: center;
				background-size: cover;
				position: relative;
				//padding: 2% 6%; /*this causes the page to be wider than 100% so there will always be a horizontal scroll bar*/
			}
			header {
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				/* When you set an element to absolute or fixed position, it will be out of the the normal content flow and trigger the shrink to fit feature. You can apply the offsets and width/height to position and recreate the box size you wish to have. */
				background-color: white; /*sets background so the rest of the page doesn't show behind the header*/
				z-index: 10; /*z-index allows header to be on top when it overlaps the rest of the page*/
			}
			nav {	
				display: flex;
				padding: 5px 5px;
				justify-content: space-between;
				align-items: center;
				
			}
			nav img {
				width: 150px;
				
			}
			.nav-links {
				flex: 1; /* occupies all the space in the row */
				text-align: right; /* text is on the right side */
			}
			.nav-links ul li {
				list-style: none; /* no bullet */
				display: inline-block; /* items are listed horizontally */
				padding: 8px 12px;
				/*position: relative;*/
			}
			.nav-links ul li a {
				color: #000;
				text-decoration: none;
				font-size: 20px;
			}

			/*red line underneath the button when you hover over the button*/
			/*notes: it initially has 0% width so it's hidden, and has 100% width when it's hovered over so it shows*/
			.nav-links ul li::after {
				content: '';
				width: 0%;
				height: 2px;
				background: #f44336;
				display: block;
				margin: auto;
				transition: 0.5s; /*The transition effect will start when the specified CSS property (width) changes value. makes the hover effect look smoother*/
			}
			.nav-links ul li:hover::after { /* red line underneath the button when you hover over the button */
				width: 100%;
			}

			/*style for text in the main portion of the page*/
			/* text-box that is centred in a section */
			.text-box-centre{
				width: 90%;
				color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%); /*centers the text, since top and left moves the top left of the text box*/
				text-align: center;
			}
			.text-box-centre h1{
				font-size: 62px;
			}
			.text-box-centre p{
				margin: 10px 0 40px;
				font-size: 14px;
			}
			.text-box-centre div{
				margin: 40px;
			}

			/* text-box that can be placed anywhere */
			.text-box {
				width: 90%;
				text-align: center;
				margin: auto; /*centres the box*/
				padding-top: 100px;
			}
			.text-box h1{
				font-size: 36px;
				font-weight: 600;
			}
			.text-box p{
				margin: 10px 0 40px;
				font-size: 18px;
				font-weight: 300;
			}

			iframe {
				width: 560px;
				height: 315px;
			}

			/* defines style for all buttons in my website*/
			.button{
				display: inline-block;
				text-decoration: none;
				color: #fff;
				border: 1px solid #fff;
				padding: 12px 34px;
				font-size: 13px;
				background: transparent;
				position: relative;
				cursor: pointer;
			}
			.button:hover{
				border: 1px solid #f44336;
				background: #f44336;
				transition: 0.25s;
			}

			/* style for listing bullet points for a feature in a section in the website */
			.row{
				margin-top: 5%;
				display: flex;
				justify-content: space-between;
			}
			.NFC-col{
				flex-basis: 31%;
				background: #fff3f3;
				border-radius: 10px;
				margin-bottom: 5%;
				padding: 20px 12px;
				box-sizing: border-box;
			}
			.NFC-col:hover{
				box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
			}
			.NFC-col h3{
				text-align: center;
				font-weight: 600;
				margin: 10px 0;
			}
			.NFC-col img{
				width:90%;
			}
			
			nav .fa{
				display: none; hides font awesome icons in larger screen devices
			}

			.footer{
				display: flex;
				justify-content: center;
				background-color: #b9bab3;
				color: #fff;
				top: 85px;
				width: 100%;
				text-align: center;
				padding: 30px 0;
			}
			.footer h4{
				margin-bottom: 25px;
				margin-top: 20px;
				font-weight: 600;
			}
			.footer-element {
				width: 30%;
			}

			/* box for sending a message to us*/
			.message-box {
				border: 1px solid #ccc;
				//margin: 50px 0;
				padding: 10px 20px;
			}
			.message-box h3 {
				text-align: left;
			}
			.message-box form input, .message-box form textarea {
				width: 100%;
				padding: 10px;
				margin: 15px 0;
				box-sizing: border-box;
				border: none;
				outline: none;
				background: #f0f0f0;
			}

			.footer .fa { /* makes fa icons bigger in footer */
				font-size:35px;
				}

			.receipt-input2 {
				border: 1px solid #ccc;
				//margin: 50px 0;
				padding: 10px 20px;
				display: none; /*inline-block;*/
				margin-bottom:0;
				transition: 0.15s;
			}
			.receipt-input2 h3 {
				text-align: left;
			}
			.receipt-input2 input, .receipt-input2 textarea {
				width: 100%;
				padding: 10px;
				margin: 15px 0;
				box-sizing: border-box;
				border: none;
				outline: none;
				background: #f0f0f0;
			}
			.receipt-input2 table th{
				color: #fff;
			}

			.receipt_input_closed {
				color: #fff;
				display: inline-block;
				width: 300px;
				padding:20px 0;
				text-align:center;
			}

			/* style for receipt view in receipt.html */
			#receiptView {
				//margin-top: 5%;
				display: flex;
				flex-wrap: wrap;
			}

			.receipt{
				flex-basis: 31%;
				background: #fff3f3;
				border-radius: 10px;
				margin-bottom: 5%;
				padding: 20px 12px;
				box-sizing: border-box;
			}
			.receipt:hover{
				box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
			}
			.receipt p{
				text-align: center;
				font-weight: 600;
				margin: 10px 0;
			}
			.receipt img{
				width:90%;
			}
			.receipt table{
				border-collapse: collapse;
				width: 100%;
				text-align: center;
				padding: 12px;	
			}
			.receipt .spread {
				border-top: 12px solid transparent;
				//border-bottom: 12px solid transparent;
			}

			/* media queries checks for information about the device currently viewing the website and helps you apply different sytles for different media types*/
			@media(max-width: 700px) {
				.text-box-centre h1{
				font-size: 20px;
				} /*adjusts font size*/
				
				.nav-links ul li {
				display: block;
				}
				.nav-links ul li a {
				color: #fff;
				}
				.nav-links {
				position: absolute;
				background: #f44336;
				height: 100vh;
				width: 200px;
				top: 0;
				right: -200px; /* menu is hidden to the right initially */
				text-align: left;
				z-index: 2; /* so it appears above the menu button */
				transition: 0.25s;
				} /*makes the nav links a right side menu*/
				nav .fa{
				display: block;
				color: #fff;
				margin: 10px;
				font-size: 22px;
				cursor: pointer;
				}
				nav  .fa-bars { /* makes menu bar appear as a black bar on the far right of header */
				color: #000;
				position: absolute;
				top: 20px;
				right: 60px;
				}
				
				iframe {
				width: 280px;
				height: 157.5px;
				}

				.row{ /*changes feature bullet points to vertical when viewed in mobile*/
					flex-direction: column;
				}

				.footer{
					flex-direction: column;
				}
				.footer-element {
					width: 90%;
					padding: 5%; /* centres our elements*/
				}
				.footer-element .text-box {
					width: 100%;
				}

				#receiptView {
					flex-direction: column;
				}
			}